body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.sidebar {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 230px;
    background-color: #ffffffee;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.sidebar h3 {
    margin-top: 0;
    font-size: 18px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    background: #f3f3f3;
    padding: 6px 10px;
    margin: 4px 0;
    border-radius: 5px;
    cursor: default;
}

/* Tombol toggle muncul di semua resolusi */
#toggleSidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1002;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Penyesuaian khusus saat mobile */
@media (max-width: 768px) {
    #toggleSidebar {
        top: 10px;
        right: 10px;
    }
}


.sidebar {
    width: 85vw;
    /* supaya sidebar tidak penuh 100% di HP */
    max-width: 300px;
}




.locate-control {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1002;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.locate-control:hover {
    background-color: #f0f0f0;
}

.leaflet-popup-content button {
    padding: 6px 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.leaflet-popup-content button:hover {
    background: #0056b3;
}

.leaflet-routing-container .leaflet-routing-alt .leaflet-routing-alt-content {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.leaflet-routing-container-hide>* {
    animation: blink 1s infinite;
}

.leaflet-routing-container-hide .leaflet-routing-alt-line {
    stroke: red;
    stroke-width: 4;
    stroke-dasharray: 8, 8;
    animation: blink 1s infinite;
}